/* [project]/components/GiftButton.module.scss.module.css [app-client] (css) */
@media only screen and (width >= 740px) {
  .GiftButton-module-scss-module__MaoOfa__no-float-tablet {
    float: none;
  }

  .GiftButton-module-scss-module__MaoOfa__no-padding-tablet {
    padding: 0;
  }

  .GiftButton-module-scss-module__MaoOfa__no-margin-tablet {
    margin: 0;
  }

  .GiftButton-module-scss-module__MaoOfa__none-tablet {
    display: none;
  }

  .GiftButton-module-scss-module__MaoOfa__block-tablet {
    display: block;
  }

  .GiftButton-module-scss-module__MaoOfa__inline-block-tablet {
    display: inline-block;
  }

  .GiftButton-module-scss-module__MaoOfa__inline-tablet {
    display: inline;
  }

  .GiftButton-module-scss-module__MaoOfa__text-left-tablet {
    text-align: left;
  }

  .GiftButton-module-scss-module__MaoOfa__text-right-tablet {
    text-align: right;
  }

  .GiftButton-module-scss-module__MaoOfa__text-center-tablet {
    text-align: center;
  }

  .GiftButton-module-scss-module__MaoOfa__text-justify-tablet {
    text-align: justify;
  }

  .GiftButton-module-scss-module__MaoOfa__no-col-tablet {
    float: none;
    width: auto;
  }

  .GiftButton-module-scss-module__MaoOfa__no-push-tablet, .GiftButton-module-scss-module__MaoOfa__no-pull-tablet {
    left: 0;
  }
}

@media only screen and (width >= 980px) {
  .GiftButton-module-scss-module__MaoOfa__no-float-desktop {
    float: none;
  }

  .GiftButton-module-scss-module__MaoOfa__no-padding-desktop {
    padding: 0;
  }

  .GiftButton-module-scss-module__MaoOfa__no-margin-desktop {
    margin: 0;
  }

  .GiftButton-module-scss-module__MaoOfa__none-desktop {
    display: none;
  }

  .GiftButton-module-scss-module__MaoOfa__block-desktop {
    display: block;
  }

  .GiftButton-module-scss-module__MaoOfa__inline-block-desktop {
    display: inline-block;
  }

  .GiftButton-module-scss-module__MaoOfa__inline-desktop {
    display: inline;
  }

  .GiftButton-module-scss-module__MaoOfa__text-left-desktop {
    text-align: left;
  }

  .GiftButton-module-scss-module__MaoOfa__text-right-desktop {
    text-align: right;
  }

  .GiftButton-module-scss-module__MaoOfa__text-center-desktop {
    text-align: center;
  }

  .GiftButton-module-scss-module__MaoOfa__text-justify-desktop {
    text-align: justify;
  }

  .GiftButton-module-scss-module__MaoOfa__no-col-desktop {
    float: none;
    width: auto;
  }

  .GiftButton-module-scss-module__MaoOfa__no-push-desktop, .GiftButton-module-scss-module__MaoOfa__no-pull-desktop {
    left: 0;
  }
}

@media only screen and (width >= 1140px) {
  .GiftButton-module-scss-module__MaoOfa__no-float-hd {
    float: none;
  }

  .GiftButton-module-scss-module__MaoOfa__no-padding-hd {
    padding: 0;
  }

  .GiftButton-module-scss-module__MaoOfa__no-margin-hd {
    margin: 0;
  }

  .GiftButton-module-scss-module__MaoOfa__none-hd {
    display: none;
  }

  .GiftButton-module-scss-module__MaoOfa__block-hd {
    display: block;
  }

  .GiftButton-module-scss-module__MaoOfa__inline-block-hd {
    display: inline-block;
  }

  .GiftButton-module-scss-module__MaoOfa__inline-hd {
    display: inline;
  }

  .GiftButton-module-scss-module__MaoOfa__text-left-hd {
    text-align: left;
  }

  .GiftButton-module-scss-module__MaoOfa__text-right-hd {
    text-align: right;
  }

  .GiftButton-module-scss-module__MaoOfa__text-center-hd {
    text-align: center;
  }

  .GiftButton-module-scss-module__MaoOfa__text-justify-hd {
    text-align: justify;
  }

  .GiftButton-module-scss-module__MaoOfa__no-col-hd {
    float: none;
    width: auto;
  }

  .GiftButton-module-scss-module__MaoOfa__no-push-hd, .GiftButton-module-scss-module__MaoOfa__no-pull-hd {
    left: 0;
  }
}

.GiftButton-module-scss-module__MaoOfa__connect button {
  color: var(--white, #fff);
  background-color: var(--color-primary);
  will-change: transform;
  border-radius: 999px;
  padding: .5rem 1rem;
  font-weight: 500;
  transition: transform .2s;
  box-shadow: 0 4px 12px #0000001a;
}

.GiftButton-module-scss-module__MaoOfa__connect button:hover {
  transform: scale(1.025);
}

.GiftButton-module-scss-module__MaoOfa__connect button:active {
  transform: scale(.95);
}

figure.GiftButton-module-scss-module__MaoOfa__pfp {
  width: 32px;
  height: 32px;
}

figure.GiftButton-module-scss-module__MaoOfa__pfp img {
  width: inherit;
  height: inherit;
}

.GiftButton-module-scss-module__MaoOfa__wallet {
  border-radius: var(--global-border-radius);
  column-gap: .5rem;
  padding: .2rem .25rem .2rem .5rem;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 4px 12px #0000001a;
}

.GiftButton-module-scss-module__MaoOfa__wallet:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.025);
}

.GiftButton-module-scss-module__MaoOfa__wallet:active {
  transition: all .3s;
  transform: scale(.95);
}

.GiftButton-module-scss-module__MaoOfa__wallet img {
  border-radius: 999px;
  transform: scale(.8);
}

.GiftButton-module-scss-module__MaoOfa__wallet li {
  column-gap: .5rem;
}

.GiftButton-module-scss-module__MaoOfa__wallet li:last-child {
  background-color: var(--black-025);
  border-radius: var(--global-border-radius);
  padding-left: .1rem;
}

@media (width <= 768px) {
  .GiftButton-module-scss-module__MaoOfa__wallet {
    padding: 0;
  }

  .GiftButton-module-scss-module__MaoOfa__wallet li:first-child, .GiftButton-module-scss-module__MaoOfa__wallet li:last-child span {
    display: none;
  }
}


/* [project]/app/Page.module.scss.module.css [app-client] (css) */
.Page-module-scss-module__St4cGG__page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), .08);
  --gray-alpha-100: rgba(var(--gray-rgb), .05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  height: 100%;
}

.Page-module-scss-module__St4cGG__hero {
  color: var(--white);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.Page-module-scss-module__St4cGG__hero img {
  width: 100%;
  height: auto;
}

.Page-module-scss-module__St4cGG__hero ul.Page-module-scss-module__St4cGG__action {
  padding: 1rem 0;
}

.Page-module-scss-module__St4cGG__hero ul.Page-module-scss-module__St4cGG__action li a {
  height: 38px;
  color: var(--white);
  border-radius: 999px;
  border-radius: var(--global-border-radius);
  background-color: #131313;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  font-weight: 500;
  display: flex;
}

.Page-module-scss-module__St4cGG__grid {
  gap: 1rem;
}

.Page-module-scss-module__St4cGG__emoji {
  border-radius: var(--global-border-radius);
  background-color: var(--white, #fff);
  border-radius: 14px;
  width: 100%;
  height: 12rem;
  padding: .8rem .5rem;
  position: relative;
  box-shadow: 0 7.82816px 7.51503px #0000000f;
}

.Page-module-scss-module__St4cGG__emoji p {
  font-size: 8px;
}

.Page-module-scss-module__St4cGG__emoji small {
  width: 100%;
  color: var(--black-800);
  background: #f2f2f2;
  gap: 6.26px;
  margin: 0 auto;
  padding: 4px 0;
  font-size: 12px;
  font-weight: 600;
}

.Page-module-scss-module__St4cGG__emoji button {
  background: var(--black);
  width: 100%;
  color: var(--white);
  cursor: pointer;
  will-change: transform;
  padding: 4px 0;
  transition: transform .2s;
  box-shadow: 0 4px 12px #0000001a;
}

.Page-module-scss-module__St4cGG__emoji button:hover {
  transform: scale(1.025);
}

.Page-module-scss-module__St4cGG__emoji button:active {
  transform: scale(.95);
}

.Page-module-scss-module__St4cGG__emoji__icon {
  will-change: transform;
  z-index: 999;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.Page-module-scss-module__St4cGG__emoji__icon img {
  width: auto;
  height: 4rem;
}

.Page-module-scss-module__St4cGG__profiles {
  column-gap: .5rem;
  padding: 1.4rem .5rem;
  overflow: auto hidden;
}

.Page-module-scss-module__St4cGG__profiles a {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  transition: all .1s ease-in;
  position: relative;
}

.Page-module-scss-module__St4cGG__profiles a:hover {
  filter: brightness();
  transform: scale(1.2);
}

.Page-module-scss-module__St4cGG__profiles a span {
  z-index: 999;
  border: 1px solid var(--white);
  background-color: #00000080;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  padding: .01rem;
  font-size: 10px;
  display: flex;
  position: absolute;
  bottom: -3px;
  right: -3px;
}

.Page-module-scss-module__St4cGG__profiles a img {
  cursor: pointer;
  width: 32px;
  height: 32px;
}


/*# sourceMappingURL=_d4d33cc9._.css.map*/