/* [project]/components/LastGift.module.scss.module.css [app-client] (css) */
@media only screen and (width >= 740px) {
  .LastGift-module-scss-module__5LogCa__no-float-tablet {
    float: none;
  }

  .LastGift-module-scss-module__5LogCa__no-padding-tablet {
    padding: 0;
  }

  .LastGift-module-scss-module__5LogCa__no-margin-tablet {
    margin: 0;
  }

  .LastGift-module-scss-module__5LogCa__none-tablet {
    display: none;
  }

  .LastGift-module-scss-module__5LogCa__block-tablet {
    display: block;
  }

  .LastGift-module-scss-module__5LogCa__inline-block-tablet {
    display: inline-block;
  }

  .LastGift-module-scss-module__5LogCa__inline-tablet {
    display: inline;
  }

  .LastGift-module-scss-module__5LogCa__text-left-tablet {
    text-align: left;
  }

  .LastGift-module-scss-module__5LogCa__text-right-tablet {
    text-align: right;
  }

  .LastGift-module-scss-module__5LogCa__text-center-tablet {
    text-align: center;
  }

  .LastGift-module-scss-module__5LogCa__text-justify-tablet {
    text-align: justify;
  }

  .LastGift-module-scss-module__5LogCa__no-col-tablet {
    float: none;
    width: auto;
  }

  .LastGift-module-scss-module__5LogCa__no-push-tablet, .LastGift-module-scss-module__5LogCa__no-pull-tablet {
    left: 0;
  }
}

@media only screen and (width >= 980px) {
  .LastGift-module-scss-module__5LogCa__no-float-desktop {
    float: none;
  }

  .LastGift-module-scss-module__5LogCa__no-padding-desktop {
    padding: 0;
  }

  .LastGift-module-scss-module__5LogCa__no-margin-desktop {
    margin: 0;
  }

  .LastGift-module-scss-module__5LogCa__none-desktop {
    display: none;
  }

  .LastGift-module-scss-module__5LogCa__block-desktop {
    display: block;
  }

  .LastGift-module-scss-module__5LogCa__inline-block-desktop {
    display: inline-block;
  }

  .LastGift-module-scss-module__5LogCa__inline-desktop {
    display: inline;
  }

  .LastGift-module-scss-module__5LogCa__text-left-desktop {
    text-align: left;
  }

  .LastGift-module-scss-module__5LogCa__text-right-desktop {
    text-align: right;
  }

  .LastGift-module-scss-module__5LogCa__text-center-desktop {
    text-align: center;
  }

  .LastGift-module-scss-module__5LogCa__text-justify-desktop {
    text-align: justify;
  }

  .LastGift-module-scss-module__5LogCa__no-col-desktop {
    float: none;
    width: auto;
  }

  .LastGift-module-scss-module__5LogCa__no-push-desktop, .LastGift-module-scss-module__5LogCa__no-pull-desktop {
    left: 0;
  }
}

@media only screen and (width >= 1140px) {
  .LastGift-module-scss-module__5LogCa__no-float-hd {
    float: none;
  }

  .LastGift-module-scss-module__5LogCa__no-padding-hd {
    padding: 0;
  }

  .LastGift-module-scss-module__5LogCa__no-margin-hd {
    margin: 0;
  }

  .LastGift-module-scss-module__5LogCa__none-hd {
    display: none;
  }

  .LastGift-module-scss-module__5LogCa__block-hd {
    display: block;
  }

  .LastGift-module-scss-module__5LogCa__inline-block-hd {
    display: inline-block;
  }

  .LastGift-module-scss-module__5LogCa__inline-hd {
    display: inline;
  }

  .LastGift-module-scss-module__5LogCa__text-left-hd {
    text-align: left;
  }

  .LastGift-module-scss-module__5LogCa__text-right-hd {
    text-align: right;
  }

  .LastGift-module-scss-module__5LogCa__text-center-hd {
    text-align: center;
  }

  .LastGift-module-scss-module__5LogCa__text-justify-hd {
    text-align: justify;
  }

  .LastGift-module-scss-module__5LogCa__no-col-hd {
    float: none;
    width: auto;
  }

  .LastGift-module-scss-module__5LogCa__no-push-hd, .LastGift-module-scss-module__5LogCa__no-pull-hd {
    left: 0;
  }
}

.LastGift-module-scss-module__5LogCa__lastGift figure {
  width: 32px;
}

.LastGift-module-scss-module__5LogCa__lastGift figure img {
  width: inherit;
}

@media (width <= 768px) {
  .LastGift-module-scss-module__5LogCa__wallet {
    padding: 0;
  }

  .LastGift-module-scss-module__5LogCa__wallet li:first-child, .LastGift-module-scss-module__5LogCa__wallet li:last-child span {
    display: none;
  }
}

/*# sourceMappingURL=components_LastGift_module_scss_module_css_f9ee138c._.single.css.map*/