/* [project]/components/Footer.module.scss.module.css [app-client] (css) */
@media only screen and (width >= 740px) {
  .Footer-module-scss-module__-TkEBW__no-float-tablet {
    float: none;
  }

  .Footer-module-scss-module__-TkEBW__no-padding-tablet {
    padding: 0;
  }

  .Footer-module-scss-module__-TkEBW__no-margin-tablet {
    margin: 0;
  }

  .Footer-module-scss-module__-TkEBW__none-tablet {
    display: none;
  }

  .Footer-module-scss-module__-TkEBW__block-tablet {
    display: block;
  }

  .Footer-module-scss-module__-TkEBW__inline-block-tablet {
    display: inline-block;
  }

  .Footer-module-scss-module__-TkEBW__inline-tablet {
    display: inline;
  }

  .Footer-module-scss-module__-TkEBW__text-left-tablet {
    text-align: left;
  }

  .Footer-module-scss-module__-TkEBW__text-right-tablet {
    text-align: right;
  }

  .Footer-module-scss-module__-TkEBW__text-center-tablet {
    text-align: center;
  }

  .Footer-module-scss-module__-TkEBW__text-justify-tablet {
    text-align: justify;
  }

  .Footer-module-scss-module__-TkEBW__no-col-tablet {
    float: none;
    width: auto;
  }

  .Footer-module-scss-module__-TkEBW__no-push-tablet, .Footer-module-scss-module__-TkEBW__no-pull-tablet {
    left: 0;
  }
}

@media only screen and (width >= 980px) {
  .Footer-module-scss-module__-TkEBW__no-float-desktop {
    float: none;
  }

  .Footer-module-scss-module__-TkEBW__no-padding-desktop {
    padding: 0;
  }

  .Footer-module-scss-module__-TkEBW__no-margin-desktop {
    margin: 0;
  }

  .Footer-module-scss-module__-TkEBW__none-desktop {
    display: none;
  }

  .Footer-module-scss-module__-TkEBW__block-desktop {
    display: block;
  }

  .Footer-module-scss-module__-TkEBW__inline-block-desktop {
    display: inline-block;
  }

  .Footer-module-scss-module__-TkEBW__inline-desktop {
    display: inline;
  }

  .Footer-module-scss-module__-TkEBW__text-left-desktop {
    text-align: left;
  }

  .Footer-module-scss-module__-TkEBW__text-right-desktop {
    text-align: right;
  }

  .Footer-module-scss-module__-TkEBW__text-center-desktop {
    text-align: center;
  }

  .Footer-module-scss-module__-TkEBW__text-justify-desktop {
    text-align: justify;
  }

  .Footer-module-scss-module__-TkEBW__no-col-desktop {
    float: none;
    width: auto;
  }

  .Footer-module-scss-module__-TkEBW__no-push-desktop, .Footer-module-scss-module__-TkEBW__no-pull-desktop {
    left: 0;
  }
}

@media only screen and (width >= 1140px) {
  .Footer-module-scss-module__-TkEBW__no-float-hd {
    float: none;
  }

  .Footer-module-scss-module__-TkEBW__no-padding-hd {
    padding: 0;
  }

  .Footer-module-scss-module__-TkEBW__no-margin-hd {
    margin: 0;
  }

  .Footer-module-scss-module__-TkEBW__none-hd {
    display: none;
  }

  .Footer-module-scss-module__-TkEBW__block-hd {
    display: block;
  }

  .Footer-module-scss-module__-TkEBW__inline-block-hd {
    display: inline-block;
  }

  .Footer-module-scss-module__-TkEBW__inline-hd {
    display: inline;
  }

  .Footer-module-scss-module__-TkEBW__text-left-hd {
    text-align: left;
  }

  .Footer-module-scss-module__-TkEBW__text-right-hd {
    text-align: right;
  }

  .Footer-module-scss-module__-TkEBW__text-center-hd {
    text-align: center;
  }

  .Footer-module-scss-module__-TkEBW__text-justify-hd {
    text-align: justify;
  }

  .Footer-module-scss-module__-TkEBW__no-col-hd {
    float: none;
    width: auto;
  }

  .Footer-module-scss-module__-TkEBW__no-push-hd, .Footer-module-scss-module__-TkEBW__no-pull-hd {
    left: 0;
  }
}

.Footer-module-scss-module__-TkEBW__footer {
  --color: #6e6e6e;
  --hover-color: #8d8d8d;
  z-index: 9999;
  background-color: var(--ff, #fff);
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 12px 16px -4px #0a0d1214, 0 4px 6px -2px #0a0d1208;
}

.Footer-module-scss-module__-TkEBW__footer ul {
  gap: 1rem;
  padding: 0 24px;
}

.Footer-module-scss-module__-TkEBW__footer ul li a {
  text-wrap: nowrap;
  text-align: center;
  will-change: transform;
  padding: 1rem;
  transition: transform .2s;
  display: block;
}

.Footer-module-scss-module__-TkEBW__footer ul li a[data-active="true"] {
  transform: scale(1.2);
}

.Footer-module-scss-module__-TkEBW__footer ul li a[data-active="true"] svg path {
  fill: var(--black);
}

.Footer-module-scss-module__-TkEBW__footer ul li a[data-active="true"] small {
  color: var(--black);
}

.Footer-module-scss-module__-TkEBW__footer ul li a:hover:not([data-active="true"]) {
  transform: scale(1.1);
}

.Footer-module-scss-module__-TkEBW__footer ul li a:active {
  transform: scale(.9);
}

.Footer-module-scss-module__-TkEBW__footer ul li a:hover:not([data-active="true"]) svg path {
  fill: var(--hover-color);
}

.Footer-module-scss-module__-TkEBW__footer ul li a:hover:not([data-active="true"]) small {
  color: var(--hover-color);
}

.Footer-module-scss-module__-TkEBW__footer ul li a svg path {
  fill: var(--color);
}

.Footer-module-scss-module__-TkEBW__footer ul li a small {
  color: var(--color);
}

.Footer-module-scss-module__-TkEBW__footer ul li a svg path, .Footer-module-scss-module__-TkEBW__footer ul li a small {
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

/*# sourceMappingURL=components_Footer_module_scss_module_css_f9ee138c._.single.css.map*/